
html, body {
 font-family: calibri;
 padding: 0; 
}

.mytables {
 border-collapse: collapse;
 width: 100%;
}
.mytables td {
 border: 1px solid #ddd;
 padding: 1vh;
 margin: 0;
}
tr td {
 vertical-align: center;
}
/*
.mytables thead:first-child tr:nth-child(3) td:first-child {
 width: 50%;
 background-color: red;
 text-align: center;
}
*/
.mytables thead:first-child tr:nth-child(3) {
 width: 50%;
 text-align: center;
}

#title {
 font-size: 18px;
 text-align: center;
 font-weight: bold;
 }

#myinput {
  padding: 1vh;
  height: 50px;
  width: 100%;
}

.mybuttons {
  background-color: #c2d1f0;
  outline: none;
  border: 3px solid #5c85d6;
  border-radius: 4%;
  height: 50px;
  width: 100px;
  margin: auto 0;
}
.mybuttons:hover {
  background-color: #adc2eb;
  border: 3px solid #2e5cb8;
  font-weight: bold;
}

.input-chars {
  
}
.morse-chars {
  font-size: 30px;
  font-family: monospace;
}