
html, body {
 font-family: monospace;  
}

#main {
  border: 1px solid #ddd;
  margin: 1vh;
  padding: 1vh;
  min-height: 98vh; 
}

.mytables {
  border-collapse: collapse;
}
.mytables td {
  border: 1px solid #ddd;
  padding: 1vh;
}

#myinput {
  padding: 1vh;
  height: 50px;
  width: 200px;
}

.mybuttons {
  background-color: #c2d1f0;
  outline: none;
  border: 3px solid #5c85d6;
  border-radius: 4%;
  height: 50px;
  width: 100px;
}
.mybuttons:hover {
  background-color: #adc2eb;
  border: 3px solid #2e5cb8;
  font-weight: bold;
}

.input-chars {
  
}
.morse-chars {
  font-size: 30px;
}